img {
    width: auto;
    height: auto;
}
.p1{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.top{
    padding: 7px;
    line-height: 1.7px;
    background-color: #316DC3;
    box-sizing: border-box;
}
.btn {
    justify-content: ;
}